.container {
  max-width: 960px;
}

.icon-link > .bi {
  width: .75em;
  height: .75em;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}
.card-container{
  display: flex;
  gap: 20px;
}
/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

.bg{
  background-image: url("https://static.vecteezy.com/system/resources/previews/035/382/878/large_2x/ai-generated-coffee-cup-on-the-table-free-photo.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 833px;

}

.currentColor-brown{
  background-color: white;
  color: white;
}

.container-text{
position: absolute;
  top: 50%;              
  left: 30%;            
  transform: translate(-50%, -50%); 

}

h1{
  font-size: 50px !important;
}

h1, p{
  color: white !important;
  font-size: 20px;
}
button{
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px;
  border-radius: 25px !important;
  width: 20%;
  display: inline;
  
}

.order{
  background-color: rgb(207, 154, 55) !important;
 color: black;
  font-weight: bold;
  border: none !important;
  margin-right: 20px !important;
}
.order:hover{
  background-color: transparent !important;
  border: 2px solid white !important;
  color: white;

}
.explore{
  background-color: white !important;
  color: black;
  font-weight: bold;
}

.explore:hover{
  background-color: rgb(207, 154, 55) !important;
  border: none !important;
  color: white;
}